p {
  background-color: rgba(0, 96, 175, 0.747);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  width: 100%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  position: absolute;
  left: 50%;
  top: 3%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 2.5em;
}
button {
  color: #fff;
  background-color: rgba(0, 96, 175, 0.747);
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  font-size: larger;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 10%;
  width: 40%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1em;
}
button:hover {
  background-color: rgba(0, 96, 175, 0.747);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: rgba(0, 58, 105, 0.747);
  transform: translateY(4px);
  top: 73%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
}

input {
  background-color: rgb(243, 243, 243);
  width: 50%;
  position: absolute;
  top: 2.5cm;
  left: 25%;
  height: 3%;
  font-family: sans-serif;
  font-size: 130%;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
}

img {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
